/* h1,h2,h3,h4,h5,h6{
    margin: 0;
} */

/*    FONTS    */

@font-face {
    font-family: Muli-Bold;
    src: url(../fonts/Muli-Bold.ttf);
}

@font-face {
    font-family: Muli-Italic;
    src: url(../fonts/Muli-Italic.ttf);
}

@font-face {
    font-family: Muli-Regular;
    src: url(../fonts/Muli-Regular.woff);
}

@font-face {
    font-family: Muli-ExtraBold;
    src: url(../fonts/Muli-ExtraBold.woff);
}

@font-face {
    font-family: Muli-SemiBoldItalic;
    src: url(../fonts/Muli-Semi-BoldItalic.ttf);
}

.muli__bold{
    font-family: 'Muli-Bold';
}

.muli__italic{
    font-family: 'Muli-Italic';
}

.muli__regular{
    font-family: 'Muli-Regular';
}

.muli__extrabold{
    font-family: 'Muli-ExtraBold';
}

.muli__semibolditalic{
    font-family: 'Muli-SemiBoldItalic';
}


.header{
    font-family: 'Muli-Bold';
    background: url(../img/header2.png) no-repeat center top / cover;
}

.header__container{
    width: 95%;
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
    padding-top: 70px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu__list{
    display: flex;
    gap: 0 40px;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0;
}

.menu__link{
    text-decoration: none;
    color: #fff;
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.logo__img{
    width: 10vw;
}

.header__right-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal__list{
    display: flex;
    gap: 0 35px;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
}

.personal__icon-search, .personal__icon-user, .personal__icon-cart{
    height: 25px;
    min-width: 25px;
    max-width: 25px;
}

.personal__list-item{
    position: relative;
}

.personal__count-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:  10px;
    font-family: 'Muli-Regular';
    position: absolute;
    top: -40%;
    right: -45%;
    background: #fff;
    height: 18px;
    min-width: 18px;
    max-width: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header__img{
    margin: 0 30px;
    height: 2px;  
}

.header__social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    list-style: none;
    padding: 0;
}

.social__link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    min-width: 35px;
    max-width: 35px;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    font-size: 24px;
    font-family: 'Muli-ExtraBold';
    background-color: #0aa566;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    padding: 25px 50px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.header__btn{
    margin-top: 100px;
    min-width: 180px;
}

.btn__arrow-yellow{
    height: 18px;
    width: 30px;
    margin-left: 25px;
}

/*    SMOOTHIES */

.smoothies{
    height: auto;
    position: relative;
}
.smoothies__container{
    margin: 80px auto;

}
.smoothies__content{
    margin: 0 auto 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 920px;
}
.smoothies__h{
    color: #f7ae3b;
    font-size: 50px;
    margin: 0 0 30px 0;
    font-family: 'Muli-ExtraBold';
}
.smoothies__p{
    margin: 0;
    font-size: 18px;
    font-family: 'Muli-Regular';
}
.smoothies__products{
    max-width: 1000px;
    margin: 0 auto;
}
.products__list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.products__list-item{
    max-width: 240px;
    min-width: 240px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f2612d;
    font-size: 25px;
    font-family: 'Muli-ExtraBold';
    border: 1px; 
    border-style: none solid solid none; 
    border-color: #f6edde;
    padding: 10px 0;
}
.products__list-item:nth-child(4){
    border-style: none none solid none; 
}
.products__list-item:nth-child(5){ 
    border-style: none solid none none; 
}
.products__list-item:nth-child(6){
    border-style: none solid none none;
}
.products__list-item:nth-child(7){
    border-style: none solid none none;
}
.products__list-item:nth-child(8){
    border-style: none;
}
.products__img{
    min-width: 75px;
    max-width: 75px;
    height: 75px;
}

/*    ABOUT */

.about{
    background: url(../img/Holder.png) no-repeat center top / cover;
    position: relative;
}
.about__container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.about__img{
    height: 820px;
    min-width: 620px;
    max-width: 620px;
    position: absolute;
    left: 7%;
    top: 6%;

}
.about__content{
  width: 55%;
  position: relative;
}
.about__h{
    font-family: 'Muli-ExtraBold';
    font-size: 55px;
    color: #fff;
}
.about__content-img{
    position: absolute;
    top: 28%;
    left: 9%;
}
.about__s{
    color: #cae941;
}
.about__list{
    font-size: 21px;
    padding: 0;
    list-style: none;
    color: #fff;
    font-family: 'Muli-ExtraBold';
}
.about__list-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.about__list-img{
    margin-right: 22px;
    width: 20px;
}
.about__list-regular, .about__list-bold{
    margin-right: 7px;
}
.about__btn{
    background-color: transparent;
    border: 2px solid #f8b231;
    min-width: 330px;
    max-width: 330px;
    padding: 17px 25px;
    margin: 55px 0 90px 0;
    font-size: 21px;
}
.about__btn:hover{
    background-color: #f8b231;
    border: 2px solid #fff;
}
.about__btn:hover .btn__arrow-yellow{
    filter: brightness(5);
}

/*    PRODUCE    */

.produce__list{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.produce__list-item{
    width: 25%;
}
.produce__list-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 125px 0 80px 0;
    color: #fff;
    text-decoration: none;
}
.produce__list-item:first-child .produce__list-link{
    background-color: #65281a;
}
.produce__list-item:nth-child(2) .produce__list-link{
    background-color: #1c896d;
}
.produce__list-item:nth-child(3) .produce__list-link{
    background-color: #f3ae38;
}
.produce__list-item:last-child .produce__list-link{
    background-color: #c44519;
}
.produce__h{
    font-size: 24px;
    margin-bottom: 10px;
}
.produce__s{
    font-size: 21px;
}
.produce__btn{
    margin-top: 65px;
    font-size: 21px;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 20px 35px;
    color: #fff;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    width: 205px;
    display: flex;
    align-items: center;
    
}
.button__img{
    margin-left: 60px;
    filter: brightness(10);
    -webkit-filter: brightness(10);
}

/*    STORY    */

.story__container{
    width: 70%;
    height: auto;
    margin: 120px auto;
    display: flex;
    justify-content: center;
}
.story__content{
    width: 40%;
}
.story__h{
    font-family: 'Muli-ExtraBold';
    font-size: 50px;
    color: #f7ae3b;
    margin: 130px 0 40px 0;
}
.story__p{
    margin: 0 0 55px 0;
    font-size: 18px;
    font-family: 'Muli-Regular';
}
.story__button{
    font-size: 21px;
    height: 25px;
    width: 200px;
    text-transform: none;
}
.story__images{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    position: relative;
}   
.story__img-second{
    position: absolute;
    left: 6%;
    top: 5%;
}


/*    TESTIMONIALS SECTION    */

.testimonials{
    background-color: #672f1b;
}

.testimonials__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 125px 0;
    position: relative;
}
.testimonials__back{
    text-align: center;
    margin: 0;
    width: 100%;
    text-transform: capitalize;
    font-size: 200px;
    color: #5b220f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.testimonials__content{
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 120px;
}
.testimonials__h{
    margin: 0;
    color: #f7ae3b;
    font-size: 50px;
}
.testimonials__spn{
    color: #f2612d;
    text-transform: uppercase;
}
.testimonials__p{
    font-size: 18px;
    color: #fff;
}
.testimonials__s{
    color: #f7ae3b;
}

/*    BLOG    */

.blog{
    display: flex;
    justify-content: center;
}
.blog__container{
    width: 62%;
    
}
.blog__art{
    height: 865px;
}
.art__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.art__info{
    position: relative;
}
.art__h{
    font-size: 50px;
    color: #f7ae3b;
    margin: 100px 0 50px 0;
}
.art__info-h{
    font-size: 30px;
    color: #f47649;
}
.art__info-s{
    font-size: 16px;
}
.art__info-p{
    font-size: 18px;
}
.art__info::after{
    content: " ";
    display: block;
    background-image:url(../img/blog-line.png);
    background-size: 687px 12px;
    width: 687px;
    height: 12px;
    position: absolute;
    top: -5%;
    right: -8%;
}
.art__img{
    z-index: 1;
}


.gotop{
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f2662f;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 100px;
    bottom: 38px;
}