@font-face {
    font-family: Muli-Bold;
    src: url(../fonts/Muli-Bold.ttf);
}
@font-face {
    font-family: Muli-Regular;
    src: url(../fonts/Muli-Regular.woff);
}
@font-face {
    font-family: Muli-ExtraBold;
    src: url(../fonts/Muli-ExtraBold.woff);
}
.header{
    font-family: 'Muli-Bold';
    height: 100vh;
    background: url(../img/header2.png) no-repeat center top / cover;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}
.menu__list{
    display: flex;
    gap: 0 20px;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 13px;
}
.menu__link{
    text-decoration: none;
    color: #fff;
}
.logo__img{
    width: 20vh;
}
.header__right-block{
    display: flex;
}
.personal__list{
    display: flex;
    gap: 0 20px;
    list-style-type: none;
    text-transform: uppercase;
}
.personal__icon-search, .personal__icon-user, .personal__icon-cart{
    width: 16px;
}
.header__content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color: #0aa566;
    display: flex;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    padding: 20px 35px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.btn__arrow-yellow{
    width: 20px;
    margin-left: 25px;
}

/*    SMOOTHIES */

.smoothies{
    height: 100vh;
}
.smoothies__content{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 920px;
}
.smoothies__h{
    color: #f7ae3b;
    font-size: 50px;
    margin-top: 30px;
    font-family: 'Muli-ExtraBold';
}
.smoothies__p{
    margin: 0;
    font-size: 18px;
    font-family: 'Muli-Regular';
}
.smoothies__products{
    max-width: 920px;
    margin: 0 auto;
}
.products__list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.products__list-item{
    max-width: 228px;
    min-width: 228px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f2612d;
    font-size: 25px;
    font-family: 'Muli-ExtraBold';
    border: 1px; 
    border-style: none solid solid none; 
    border-color: #f6edde;
    padding: 10px 0;
}
.products__list-item:nth-child(4){
    border-style: none none solid none; 
}
.products__list-item:nth-child(5){ 
    border-style: none solid none none; 
}
.products__list-item:nth-child(6){
    border-style: none solid none none;
}
.products__list-item:nth-child(7){
    border-style: none solid none none;
}
.products__list-item:nth-child(8){
    border-style: none;
}
.products__img{
    width: 75px;

}